@import url('https://fonts.googleapis.com/css?family=Poor+Story');

body {
    font-family: 'Poor Story', cursive;
    box-sizing: border-box;
    margin: 0px;
    
  }
  
  .center {
    width: 600px;
    margin: 0 auto;
    list-style: none;
  }
 
  .container{
    display: flex;
    
  }
  .column1{
    width: 20%;
    background-color: #f7f7f7;
    border-right: solid #e0e0e0;
    margin-left: 15px;
  }
  .column2{
    width: 35%;
    height: 100%;
    background-color: #fcfcf9;
    margin-left: 15px;
  }
  .column3{
    width: 45%;
    background-color: #2C3134;
    color:white;
    margin-left: 15px;
  }

  .column3 p{
    margin-left: 15px;

  }

  h2{
    margin: 20px 10px 40px 10px;
    text-shadow: 4px 2px 5px #e0e0e0;
    margin-left: 15px;
  }
  li{
    list-style: none;
    margin: 20px;
  }
  a{
    text-decoration: none;
    color: #161616;
    border-bottom: 1px solid rgba(0, 0, 0, 0.712);
    border-right:1px solid rgba(0, 0, 0, 0.712); 
    box-shadow: 1px 1px black;
    border-radius: 5px;
    
  }
  li.res{
    color: white;
  }