html
  head
    title Books List
    link(rel="stylesheet", href="/static/css/app.css")
  body
   div.container
    div.column1
      h2= projectTitle
        ul
         li
         a( href='/docs/books/list' ) GET /books
         li
         a( href='/docs/books/item') GET /books/:id
         li
         a( href='/docs/products/list') GET /products
         li
         a( href='/docs/products/list') GET /products/:id
    div.column2
        p Documentation from REST API of books.
        h3 Objective
        p.req Get a list of books.
        h3 How to do a request?
        p.req You can retrieve the list of our books by sending an HTTP GET request to the URI with the Endpoint.
        h3 Endpoint
        p.req= endpoint
    div.column3 
        li.res Response
        p.res If the request succeeds, the server responds with the 200 OK HTTP status code and the list of books:
        pre=data
       
        
 
    