html
  head
    title Books Item
    link(rel="stylesheet", href="/static/css/app.css")
  body
   div.container
    div.column1
      h2= projectTitle
        ul
         li
         a( href='/docs/books/list' ) GET /books
         li
         a( href='/docs/books/item') GET /books/:id
         li
         a( href='/docs/products/list') GET /products
         li
         a( href='/docs/products/list') GET /products/:id
    div.column2
        p Documentation from REST API of books.
        h2 Here comes the info
    div.column3 
        pre=data
        