html
  head
    title REST API Books
    link(rel="stylesheet", href="/static/css/app.css")
  body
  div.container
    div.column1
      h2= projectTitle
        ul
         li
         a( href='/docs/books/list' ) GET /books
         li
         a( href='/docs/books/item') GET /books/:id
         li
         a( href='/docs/products/list') GET /products
         li
         a( href='/docs/products/list') GET /products/:id
    div.column2
        h2 Documentation from REST API of books.
        h2 Using the API
        h3 Introduction
        p This document is intended for developers who want to write applications that can interact with the Books API. Books has a mission to digitize the world's book content and make it more discoverable on the Web. The Books API is a way to search and access that content, as well as to create and view personalization around that content.
        p Authorizing requests and identifying your application
        p Every request your application sends to the Books API needs to identify your application to Google. There are two ways to identify your application: using an OAuth 2.0 token (which also authorizes the request) and/or using the application's API key. Here's how to determine which of those options to use:
        p If the request requires authorization (such as a request for an individual's private data), then the application must provide an OAuth 2.0 token with the request. The application may also provide the API key, but it doesn't have to.
        p If the request doesn't require authorization (such as a request for public data), then the application must provide either the API key or an OAuth 2.0 token, or both—whatever option is most convenient for you.
       
        
       


